* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --portfolio-bg: rgba(15, 23, 42, 1);
  --bg-opacity: 1;
}

body {
  background-color: var(--portfolio-bg);
  opacity: var(--bg-opacity);
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* #region Layout */

.frame {
  padding-left: 6rem;
  padding-right: 6rem;
}

.site-left,
.site-right {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.site-left {
  position: fixed;
  max-width: 500px;
}