* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

/* #region Layout */
.container {
  width: 70%;
  max-width: 1176px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    .col {
      width: 100%;
      padding: 1rem;

      @media (min-width:600px) {
        width: 50%;
      }

      @media (min-width:993px) {
        width: calc(100% / 12 * 3);
      }
    }
  }
}

.card {
  background-color: #fff;

  .card-body {
    padding: 0.5rem;

  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}